*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout{
    background-color: #1e1714;
    
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

/*header style*/

.header__principal__titulo{
    color: #f8e12e;
    background-color: #0000008a;    
    text-shadow: 2px 2px 1px #db3a12;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11vh;
    font-weight: bold;
    
    box-sizing: content-box;
    width: 100%;
    height:50vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
}

.banner_mdhl{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 0% 15%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-left: 20px;
    margin-right: 20px;
}

.header__principal__nav{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    
    margin-top: 10px;
}

.header__principal__nav > a{
    color: #ffffff;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.header__principal__nav > a:hover{
    border-bottom: 2px solid #ffffff;
    transform: scale(1.1);
}

a[href="#"]{
    border-bottom: 2px solid #ffffff;
    font-weight: bold;
    
    padding-bottom: 5px;
}

.logo_mdhl{
    width: 10vw;
    object-fit: cover;
    
    margin-left: 10px;
}

/*main style*/

main{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    gap: 45px;

    padding: 20px;
}

.titulo_2{
    color: #000000;
    background-color: #5fa199;
    border: 2px solid #db3a12;
    border-radius: 25px;
    width: 30vw;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    
    padding: 3px;

    display: flex;
    justify-content: center;
}

.contenedor{
    width: 100%;
    
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.hockey__img{
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.texto{
    color: #ffffff;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.texto p{
    padding-left: 10px;
}

.texto a{
    color: #6f6fdf;
}

.caja h3{
    font-size: 18px;
    font-weight: bold;

    margin-bottom: 10px;
}

footer{
    color: #ffffff;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}